/* ==============================================
@Author: Inventive Templates
@URL: http://inventivetemplates.com

Styles contents are outlined below

1. Default Styles
2. Short Codes & Form Elements
3. Top Head Styles
4. Bootstrap Navbar
5. For Mega Menu
6. Banner
7. Features
8. Features_2 & Features_3
9. Home_block 2 & 3
10. Counters
11. Services
12. Workprocess
13. Model Box
14. Gallery
15. News & Blog items
16. Testimonials
17. Team
18. Subscribe
19. Clients
20. Contact Us
21. Map
22. Footer
23. Sidebar
24. Accordion
25. Pricing
26. 404
27. Breadcrumb
28. waypoints
29. Buy_now

Responsive Styles
30. Mobile and Tablet Screen
31. Mobile Screen
32. Tablet and Desktop Screen
33. Tablet Screen
34. Desktop Screen
35. Desktop and Large Desktop Screen
36. Large Desktop Screen
37. Custom Screens

Animations
38. Animations


/* ==============================================
Default Styles
=============================================== */
/*H1* (ce sont les titres en majuscules + la NL)*/


.center {
	text-align: center!important;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #333333;
	font-weight: 500;
	text-align: center;
	margin: auto;
	line-height: 40px;
	color: #333333;
	text-transform: none;
}

.bann_caption h1 {
	margin-bottom: 30px!important;
	color: #ffffff!important;
}

h2{
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	color: #333333;
	font-weight: 300;
	text-align: center;
	text-transform: initial;
	margin: auto;
}


h3{
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	color: #333333;
	font-weight: normal;
	text-align: center;
	text-transform: initial;
	margin: auto;
}

p{
	font-weight: 300;
	color: #333333;
}
.wrapper {
	font: 14px/23px 'Lato', sans-serif;
}

/* Button */
.btn-order{
	background: #FF8B80!important;
	border-radius: 100px!important;
	border: none !important;
	border-bottom:2px solid #FA7569!important;
	box-shadow: 0px 5px 14px 10px rgba(0,0,0,0.18), 0px 5px 18px 1px rgba(255,139,128,0.84);
	color: white !important;
	padding: 1px 18 !important;
}

.btn-order:hover{
	background: #FA7569!important;
	border-radius: 100px!important;
	border: none !important;
	border-bottom:2px solid #DC6F65!important;
	box-shadow: 0px 5px 14px 10px rgba(0,0,0,0.18), 0px 5px 18px 1px rgba(255,139,128,0.84);
	color: white !important;
	text-decoration: none !important;
}
.btn-header{
	border-radius: 2px;
	border-color: rgba(255, 139,128, 0.5);
	color: rgba(255, 139,128, 0.7) !important;
	text-decoration: none !important;
}
.btn-header:hover{
	border-radius: 2px;
	border-color: rgb(255, 139,128) !important;
	color: rgb(255, 139,128);
}
.btn-sec-order{
	background: white!important;
	border-radius: 100px!important;
	border: none !important;
	border-bottom:2px solid #FA7569!important;
	box-shadow: 0px 5px 14px 10px rgba(0,0,0,0.18), 0px 5px 18px 7px rgba(255,139,128,0.84);
	color: #FF8B80 !important;
}

.btn-sec-order:hover{
	background: #FA7569!important;
	border-radius: 100px!important;
	border: none !important;
	border-bottom:2px solid #DC6F65!important;
	box-shadow: 0px 5px 14px 10px rgba(0,0,0,0.18), 0px 5px 18px 7px rgba(255,139,128,0.84);
	color: white !important;
}
.btn-info{
	background: white !important;
	background-color: white !important;
	border-radius: 2px !important;
	border-color: rgba(255, 139,128, 0.5) !important;
	color: rgba(255, 139,128, 0.7) !important;
}
.btn-info:hover{
	background: white !important;
	background-color: white !important;
	border-radius: 2px !important;
	border-color: rgb(255, 139,128) !important;
	color: rgb(255, 139,128) !important;
}


/* Old Order Button after refact
.btn-order{
	background: #FF8B80 !important;
	border-radius: 2px !important;
	border-bottom:1px solid #FF8B80 !important;
	padding: 6px 20px !important;

	font-size: 1em;
	text-align: center;
	font-weight: 300;
}
.btn-order:hover{
	background-color:#FA7569 !important;
	text-decoration: none !important;
}
.button{
	background: #40B8C7 !important;
	border-radius: 2px !important;
	border-bottom:1px solid #FF8B80 !important;
	padding: 6px 20px !important;
	color: white !important;
	font-size: 1em;
	text-align: center;
	font-weight: 300;
}
.button:hover{
	background-color:#FDC85C !important;
}
*/

/* ==============================================
Short Codes & Form Elements
=============================================== */
/*Enter your email bloc*/
.form-group label, .table > thead > tr > th {
	font-family: "Lato", sans-serif;
}
.nav-tabs, .home_block_1 .tab-content, .nav-tabs, .home_block_2 .tab-content, .nav-tabs, .home_block_3 .tab-content {
	width: auto;
	max-width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;

}

/* ==============================================
Top Head Styles
=============================================== */
.wrapper > header {
	background-color: #F8F8F8;
}
 .wrapper > header .navbar-default.sticky{
 	background-color: #FFFFFF
}

/* ==============================================
Bootstrap Navbar
=============================================== */
/*Logo modames*/
/*marge Logo modames*/
.navbar-brand>img{
	width: 70%;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
		padding: 4px 0px 0px 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #333333;
}
.container-fluid .navbar-header{
	margin-left: 30px;
 }
/* Text menu header*/
.navbar-default .navbar-nav > li > a {
	color: #333333;
	text-transform: none;
	font-weight: normal;
}
.navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline;
}
.navbar-nav {
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}
.navbar-right {
	box-shadow: none;
}
.wrapper > header .navbar-default.sticky {
	box-shadow: 0 0.3px 6px rgba(0,0,0,0.1);
}

/* ==============================================
For Mega Menu
=============================================== */
.collapse.navbar-collapse {
	color: #333333;
}
.navbar-default .navbar-nav > li > a {
	font-weight: 300;
}
.navbar-default .container-fluid{
 	margin-top: 10px !important;
 }
/*Toggle Mobile*/
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
 	background-color: #40B8C7;
 }
 .navbar-default .navbar-toggle{
 	border-color: #40B8C7;
 }
 .navbar-toggle{
 	background-color: #40B8C7;
 	border:1px solid #40B8C7;
 }
 .navbar-default .navbar-toggle .icon-bar{
 	background-color: white;
 }

/* ==============================================
Banner
=============================================== */
.slider .banner .banner_bg img {
	animation: none;
}
/*punchline slider*/
.bann_caption h3 {
	color: #ffffff;
	font-size: 1.7em;
	line-height: 40px;
	font-weight: 200;
	margin-bottom: 50px;
}
.slide li{
	display: inline-block;
	font-size: 17px;
	font-weight: 200;
	margin:0px 10px 60px 10px;
}
.slide .fa{
	font-size: 0.5em;
}

/*Scroll in slider*/
.btn-scroll{
	color: white;
	font-weight: 200;

}
.ancre a{
	font-family: "Lato" sans-serif;
	font-size: 1em;
}
.btn-scroll:hover{
	color: rgba( 255, 255, 255, 0.7);
}
.btn-scroll .fa{
	font-size: 25px;
}

/* ==============================================
Step how it works
=============================================== */
.workprocess .container .icon:before{
	background: none;
}
.workprocess .block h3 {
	padding-top: 20px !important;
}
.text-etape{
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}
.workprocess .block p{
		padding: 10px 20px;
    width: 72%;
    margin: auto;
}
.step{
	margin-top: 40px;
}
/* ==============================================
 Features
=============================================== */
.features{
	border: none !important;
	background-color:#FF8B80;
}

.features > div > div:nth-child(1), .features > div > div:nth-child(2), .features > div > div:nth-child(3) {
    border-bottom:none;
}
.features > div > div {
    border-left:none;
}
.features .icon i{
	color: #ffffff;
}
.features .block{
	margin: 30px 0;
}
.features .benefit{
	color: #ffffff;
	font-weight: 200;
  letter-spacing: 0.05em;
}
.features .explain{
	color: #ffffff;
}
.features .block p{
	color: #ffffff;
}

/* ==============================================
 Testimonials
=============================================== */
.testimonials .container {
		display: flex;
    flex-direction: column;
		align-items: center;
}
.testimonials{
	background: white;
	padding: 60px 0;
}

.testimonials img {
	border-radius: 0;
}
.testimonials p{
	color: #333333;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	margin: auto;
}
.testimonials .owl-theme .owl-controls .owl-page span {
	border-color: initial;
	background: #40B8C7;
}
.testimonials .style_title_modames{
	margin-top: 30px;
	margin-bottom: 10px;
}

/* ==============================================
Gallery
=============================================== */
.gallery{
	background-color: #ffffff ;
	margin-bottom: -15px;
}
.gallery p{
	text-align: center;
	font-weight: 300;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

.gallery .style_title_modames {
	margin-top: 30px;
	margin-bottom: 10px;
}

/* ==============================================
Subscribe
=============================================== */
.subscribe {
	background: #F8F8F8;
	color: #333333;
	padding: 10px 0;
	font-family: 'Lato', sans-serif;
}
.subscribe input.form-control {
	background-color: white;
	color: #333333;
	border:1px;
	width: 30%;
}
.subscribe .icon{
	height: 80px;
}

#gift-text {
	margin-left: 18px;
}

/* ==============================================
Contact Us
=============================================== */
.contact {
	background : none;
}
.contact_info li a, .contact_info p {
	color: #333333;
}
.contact_info li {
	color: #333333;
}
.contact_info h3 {
	color: #333333;
}
#contact-description {
	margin-top: 50px;
	background-color: #f8f8f8;
}
.contact label {
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.indicates-required{
	color:#ffffff;
}
.contact input.form-control {
	background: #F8F8F8;
}
.contact textarea.form-control {
	background: #F8F8F8;
}

/* ==============================================
Footer
=============================================== */
/*Footer size*/

/*Text footer*/
footer {
	background: #FDC85C !important;
	color: white !important;
	font-size: 1em;
	font-weight: 300;
}

footer p, footer a , footer a:hover{
	background: #FDC85C;
	color: #333333;
}
footer p{
	font-size: 0.8em;
	margin-top: 0px;
	padding-top: 0px;
	line-height: 14px;
	font-family: 'Lato', sans-serif;
}
footer .social_icons a i {
	border: none !important;
	width: 10px;
}
.appear-animation {
    opacity: 100;
}
footer a:hover {
	text-decoration: underline;
}
.foot_nav.style_2 li a {
    border: none;
}
.foot_nav.style_2 li{
    line-height: 30px;
}
.h6, h6 {
	font: 14px 'Lato', sans-serif;
	color:#333333;
}

/*Footer links*/
.foot_nav li {
	display: block;
}


/*==============================================
Our history
===============================================*/
#team{
	margin: 80px auto;
	max-width: 600px
}


/*==============================================
FAQ
===============================================*/
.faq_block{
	display: inline;
}

/*==============================================
Contact
===============================================*/
#contactstyle{
	background-color: #f8f8f8;
	margin: auto;
	max-width: 50%;
	padding: 10px;
}
.boxes{
	padding: 10px;
}
#contactstyle2{
	background-color: #f8f8f8;
	margin: 30px 20px;
	max-width: 20%;
	padding: 10px;
}
#contactstyle3{
	background-color: #f8f8f8;
	margin: 30px 20px;
	max-width: 20%;
	padding: 10px;
	color: #333333
}
#contactstyle3 a{
	color: #333333;
}
#contactstyle3 a:hover{
	color: #FF8B80;
}
.contactinfo .fa{
	color: #FF8B80
}
.contactinfo li{
	display: inline-block;
}

/*==============================================
Accordion
===============================================*/
.panel.panel-default{
	border: none;
	background-color: #F8F8F8;
}
.panel-group {
	background-color: #F8F8F8;
}

/* ==============================================
Breadcrumb
=============================================== */
#cool {
	overflow: hidden;
	text-align: center;
	color: #FFF;
	background: #222;
	position: relative;
	background-size: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-top: 70px;

}

#cool {
  background: linear-gradient(270deg, #fbda97, #f9e068, #FDC85C, #ffbf3e);
  background-size: 800% 800%;

  -webkit-animation: supergradient 20s ease infinite;
  -moz-animation: supergradient 20s ease infinite;
  animation: supergradient 20s ease infinite;
}

@-webkit-keyframes supergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes supergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes supergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.breadcrumb_bg h4 {
	text-align: left;
	margin-left: 40px;
	color: #333333;
}


/*==============================================
go-top link
===============================================*/
a.go-top{
	color: #40B8C7;
	opacity: 100;
}


/* ==============================================
Mobile and Tablet Screen
=============================================== */
@media screen and (max-width:991px) {
.navbar .navbar-default{
	background: none !important;
}
.navbar-collapse .navbar-nav li a{
 	font-size: 0.8em;
 }
 .navbar-collapse .navbar-nav .btn-order{
 	font-size: 0.8em;
 	width: 95%;
 	text-align: center;
 }
 .bann_caption {
 	margin-top: none!important;
 }

/*background texte blocs etapes */
.slider .banner .bann_caption{
 	z-index: 10;
 	position: absolute;
}
#contact-description {
	margin-top: 0px;
}
/*bandeau FAQ*/
#cool{
	margin-top: 0px;
}
}
/* ==============================================
Little Mobile Screen
=============================================== */
@media screen and (max-width:650px) {
.bann_caption h1{
	font-size: 20px;
}
	.slide li {
		display: block;
		font-size: 13px;
		margin: 0;
	}
}
/* ==============================================
Mobile Screen
=============================================== */
@media screen and (max-width:767px) {
/*Slider*/
	.slide li {
		color: white;
	}
/*Footer*/
.wrapper > footer {
	    text-align: -webkit-center;
}
footer img{
	width: 20%;
}
}
/* ==============================================
Tablet and Desktop Screen
=============================================== */
@media screen and (min-width:768px) {
/*Marge droite dernière élément menu */
.navbar-default .navbar-nav > li:last-child > a {
	padding-right: 40px;
	margin-right: 40px;
}
.navbar-default {
 	background:none;
}
/*Slider*/
.slide li {
	color: white;
}
}
/* ==============================================
Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {
/*Footer*/
.wrapper > footer {
	    font-size: 0.8em;
}
.wrapper > footer h6 {
	font-size: 0.8em;
}
footer img{
	width: 50%;
}
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
/*modification marge header*/
@media screen and (min-width:992px) {
.wrapper > header .container-fluid {
	margin-top: 0px;
}
.wrapper > header .navbar-default {
	top: 0px;
}
footer img{
	width: 60%;
}
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
@media screen and (min-width:992px) {
.wrapper > header .container-fluid {
	margin: 0 0px;
}
}
