/* ==============================================
@Author: Inventive Templates
@URL: http://inventivetemplates.com

Styles contents are outlined below
 
1. Default Styles
2. Short Codes & Form Elements
3. Top Head Styles
4. Bootstrap Navbar
5. For Mega Menu
6. Banner
7. Features
8. Features_2 & Features_3
9. Home_block 2 & 3
10. Counters
11. Services
12. Workprocess
13. Model Box
14. Gallery
15. News & Blog items
16. Testimonials
17. Team
18. Subscribe
19. Clients
20. Contact Us
21. Map
22. Footer
23. Sidebar
24. Accordion
25. Pricing
26. 404
27. Breadcrumb
28. waypoints
29. Buy_now
	
Responsive Styles
30. Mobile and Tablet Screen
31. Mobile Screen
32. Tablet and Desktop Screen
33. Tablet Screen
34. Desktop Screen
35. Desktop and Large Desktop Screen
36. Large Desktop Screen
37. Custom Screens
	
Animations
38. Animations


/* ==============================================
Default Styles
=============================================== */
h1, h2, h3 {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	font: 14px/23px 'Lato', sans-serif;
}
.style_title_modames{
	color: #333333;
	font-weight: normal;
	text-align: center;
}
/* Order Button */
.btn-order{
	background: #FF8B80 !important;
	border-radius: 2px !important;
	border-bottom:1px solid #FF8B80 !important;
	padding: 6px 20px !important;
	color: white !important;
	font-size: 14px !important;
}
.btn-order:hover{
	background-color:#FA7569 !important;
}

/* ==============================================
Short Codes & Form Elements
=============================================== */
/*Enter your email bloc*/
.form-group label, .table > thead > tr > th {
	font-family: "Lato", sans-serif;
}

/* ==============================================
Top Head Styles
=============================================== */
.wrapper > header {
	background-color: #F8F8F8;
}

/* ==============================================
Bootstrap Navbar
=============================================== */
/*Logo modames*/
.navbar-default a.navbar-brand {
	color: #333333;
	background-color: #F8F8F8;
	font-family: 'Poiret One', sans-serif;
	text-transform: lowercase;
}
/*marge Logo modames*/
.navbar>.container-fluid .navbar-brand {
    margin-left: 40px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #333333;
}
/* Text menu header*/
.navbar-default .navbar-nav > li > a {
	color: #333333;
	background: #F8F8F8;
	text-transform: none;
	font-weight: normal;
}

/* ==============================================
For Mega Menu
=============================================== */
.collapse.navbar-collapse {
	background:#F8F8F8;
	color: #333333;
}

/* ==============================================
Banner
=============================================== */
.slider .banner .banner_bg img {
	animation: none;
}
/*punchline slider*/
.bann_caption h4 {
	color: #333333
}

/* ==============================================
Home_block 2 & 3
=============================================== */
/*background image blocs etapes*/
.home_block_1 {
	background: url(../images/modames-homeblock1.jpg);
	background-attachment: initial;
	background-size : 50%;
	background-position: right;
}
.home_block_2 {
	background: url(../images/modames-homeblock2.jpg);
	background-attachment: initial;
	background-size : 50%;
	background-position: left;
}
.home_block_3 {
	background: url(../images/modames-homeblock3.jpg);
	background-attachment: initial;
	background-size : 50%;
	background-position: right;
}
/*background texte blocs etapes */
.home_block_1 .container-fluid > div, .home_block_2 .container-fluid > div, .home_block_3 .container-fluid > div {
	background: rgba(255,255,255,100);
}

/* ==============================================
 Testimonials
=============================================== */
.testimonials{
	background: none;
	background-color: #F8F8F8;
}

.testimonials img {
	border-radius: 0;
}
.testimonials p{
	color: #333333;
}

/* ==============================================
Gallery
=============================================== */
.gallery{
	padding-top: 30px;
}
.gallery p{
	text-align: center;
}

/* ==============================================
Subscribe
=============================================== */
.subscribe {
	background: #F8F8F8;
	color: #333333;
}
.subscribe h6{
	color:#40B8C7;
	font-size: 20px;
	margin-bottom: -15px;
}
.subscribe h5{
	font-size: 20px;
}

.subscribe input.form-control {
	background-color: white;
	color: #333333;
	border:1px
}
.carte-cadeau .bloc{
	display: inline-block;
	vertical-align: text-top;
}
.carte-cadeau-par{
	max-width:230px;
	margin-bottom: 0px;
}
.subscribe .icon{
	height: 80px;
}
.subscribe .bloc #gift-text{

}


/* ==============================================
Mobile and Tablet Screen
=============================================== */
@media screen and (max-width:991px) {
.home_block_1 .container-fluid > div, .home_block_2 .container-fluid > div, .home_block_3 .container-fluid > div{
	text-align: center;
}
/*background texte blocs etapes */
.home_block_1 .container-fluid > div, .home_block_2 .container-fluid > div, .home_block_3 .container-fluid > div {
	background: rgba(255,255,255,.80);
}
}
/* ==============================================
Mobile Screen
=============================================== */
/*background texte blocs etapes */
@media screen and (max-width:767px) {

}
/* ==============================================
Tablet and Desktop Screen
=============================================== */
.navbar-default .navbar-nav > li:last-child > a {
	padding-right: 40px;
}

/* ==============================================
Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {
.home_block_1 .container-fluid > div > div {
	padding: 20px 0 20px 0;
}
.home_block_2 .container-fluid > div > div {
	padding: 20px 0 20px 0;
}
.home_block_3 .container-fluid > div > div {
	padding: 20px 0 20px 0;
}
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
/*modification marge header*/
@media screen and (min-width:992px) {
.wrapper > header .container-fluid {
	margin: 0 0px;
}
.wrapper > header .navbar-default {
	top: 0px;
}
/* ==============================================
Desktop and Large Desktop Screen
=============================================== */
@media screen and (min-width:992px) {
.wrapper > header .container-fluid {
	margin: 0 0px;
}


/* ==============================================
Footer
=============================================== */
/*Footer size*/
.big_block{
	padding:30px;
}

/*Text footer*/
.wrapper > footer {
	background: #FDC85C;
	color: white;
}
.wrapper > footer p, .wrapper > footer a {
	background: #FDC85C;
	color: #333333;
}
footer .social_icons a i {
	border: none !important;
}
.appear-animation {
    opacity: 100;
}
.wrapper > footer a:hover {
	text-decoration: underline;
}
.foot_nav.style_2 li a {
    border: none;
}
.h6, h6 {
	font: 14px 'Lato', sans-serif;
	color:#333333;
}

/*Footer links*/
.foot_nav li {
	display: block;
}









