

/* ==============================================
404 pages
=============================================== */
section.slider{
	background-image: url("../images/backgrounderror.jpg");
	max-height: 640px;
	background-position: center;
	background-size: cover;
}

/* text slider*/
div.textbox{
	width: 100%;
  height: 330px;
	margin: auto;
  top: 22%;
  z-index: 1000;
}

div.baseline p{
	font-size: 3em;
	font-family: poiret one, sans-serif;;
	width: 100%;
	padding-top: 30px;
	text-transform: none;
	color: white;
}
button#btn-error.btn.btn-order{
	margin-top:100px !important;
}

p.title{
	margin-bottom: 70px;
	margin-top: -60px;
}


/* ==============================================
Mobile Screen
=============================================== */
@media screen and (max-width:767px) {
/*=== 404 PAGE ===*/


div.baseline p{
	font-size: 1.7em;
	line-height: 35px;
	padding-top: 20px;
}

div.textbox{
	width: 70%;
}

button#btn-error.btn.btn-order{
	margin-top:20px !important;
}

p.title{
	margin-bottom: 0px;
	margin-top: -30px;
}

}
/* ==============================================
Tablet Screen
=============================================== */
@media screen and (min-width:768px) and (max-width:991px) {
	p.title{
		margin-top: 0px;
	}

}
