/* CSS FOR THE FORM */
body{
  background: #F7F8F9;
}

/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 80%;
  height: 100%;
  margin: 20px auto;
  padding: 40px;
  background: white;
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.1);
}
/* QUESTION DESIGN */
.question{
  font-size: 1.2em;
  color: #333333;
  font-weight: 400;
  display: block;
}
/* ANSWER TEXT DESIGN */
label.label-text{
  font-size: 1em;
  font-weight: 400;
}
label.label-undertext{
  font-size: 1em;
  font-weight: 300;
  margin-right: 10px;
}
.span-undertext{
  font-size: 1em;
  font-weight: 300;
}

/* SELECT AUTO DESIGN SIZE */
select.form-control{
  width: auto;
}
/* CHECK OR RADIO SEVERAL DESIGN */
.inline-checkbox{
  margin-bottom: 20px;
}
/* SELECT COMPLEX BLOC DESIGN */
div.select-margin-complex{
  margin-bottom: 20px;
}
/* CHECKBOX CHECK DESIGN*/
/*To hide first check */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* for the label*/
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 0px 25px 0px 25px;
  cursor: pointer;
}
/* :before for the check box */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #999;
  background: #f8f8f8;
  border-radius: 6px;
}

/* design just for the check */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  border-radius: 6px;
  width: 17px; height: 17px;
  background: #ff8b80;
  position: absolute;
  top: 2px; left: 0px;
  font-size: 14px;
  transition: all .2s; /* on prévoit une animation */
}
/* for no checked */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

/* RADIO CHECK DESIGN*/
/*To hide first check */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

/* for the label*/
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label{
  position: relative;
  padding: 0px 25px 0px 25px;
  cursor: pointer;
}
/* :before for the check box */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #999;
  background: #f8f8f8;
  border-radius: 6px;
}

/* design just for the check */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  border-radius: 6px;
  width: 17px; height: 17px;
  background: #ff8b80;
  position: absolute;
  top: 2px; left: 0px;
  font-size: 14px;
  transition: all .2s;
}
/* for no checked */
[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
[type="radio"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}
/* HAIRCOLOR QUESTION DESIGN */
img.haircolor{
  border-radius: 100%;
  max-height: 50px;
  margin-bottom: 20px;
}
/* COLOUR QUESTION DESIGN */
/*for color's circles*/
i#black-skin-fa.fa.fa-circle{
  color: #5C4438;
  font-size: 3em;
  margin-bottom: 20px;
}
i#brown-skin-fa.fa.fa-circle{
  color: #975A36;
  font-size: 3em;
  margin-bottom: 20px;
}
i#white-skin-fa.fa.fa-circle{
  color: #E1B892;
  font-size: 3em;
}
i#pluswhite-skin-fa.fa.fa-circle{
  color: #FDDBBA;
  font-size: 3em;
}

/* FONT-AWESOME CIRCLE CHECKING DESIGN */
/*for delete left checking*/
.circlecolor[type="radio"]:not(:checked) + label:before,
.circlecolor[type="radio"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.circlecolor[type="radio"]:checked + label:after,
.circlecolor[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
.circlecolor[type="radio"]:checked + label{
  border: 2px solid #ff8b80;
  border-radius: 100%;
  padding: 0px 3px;
}

/* MORPHO QUESTION DESIGN */
/*for image*/
img.morpho{
  max-width: 50%;
}
label.morpho-type{
  padding: 0px !important;
  margin-right: -50px;
  margin-bottom: 20px;
  display: inline-block;
}
.morpho-check[type="radio"]:not(:checked) + label:before,
.morpho-check[type="radio"]:checked + label:before{
  position: absolute;
  left: -9999px;
}

/* design just for the check label after*/
/* for no checked */
.morpho-check[type="radio"]:checked + label:after,
.morpho-check[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
.morpho-check[type="radio"]:checked + label{
  border: 2px solid #ff8b80;
  padding: 0px 3px;
}

/* COMPLEX SHARING QUESTION DESIGN */
textarea#complex-text.form-control{
  width: 200%;
}
/* ACCESSORIES PREFERENCES QUESTION DESIGN */
/* for the allergy*/
div.jewel-allergy{
  margin-top: 20px;
}

/* COLOUR QUESTION DESIGN */

/*for color's circles*/
i#color-black-fa.fa.fa-circle{
  color: #000000;
  font-size: 4em;
}
i#color-marine-fa.fa.fa-circle{
  color: #003C79;
  font-size: 4em;
}
i#color-blue-fa.fa.fa-circle{
  color: #00B2DE;
  font-size: 4em;
}
i#color-darkgreen-fa.fa.fa-circle{
  color: #1F5647;
  font-size: 4em;
}
i#color-green-fa.fa.fa-circle{
  color: #CBD34C;
  font-size: 4em;
}
i#color-beige-fa.fa.fa-circle{
  color: #ECD6AF;
  font-size: 4em;
}
i#color-yellow-fa.fa.fa-circle{
  color: #FFCE09;
  font-size: 4em;
}
i#color-orange-fa.fa.fa-circle{
  color: #F9964A;
  font-size: 4em;
}
i#color-red-fa.fa.fa-circle{
  color: #DC241F;
  font-size: 4em;
}
i#color-bordeaux-fa.fa.fa-circle{
  color: #6E2639;
  font-size: 4em;
}
i#color-purple-fa.fa.fa-circle{
  color: #7C6495;
  font-size: 4em;
}
i#color-fushia-fa.fa.fa-circle{
  color: #FF3485;
  font-size: 4em;
}
i#color-pink-fa.fa.fa-circle{
  color: #F5B0C1;
  font-size: 4em;
}
i#color-grey-fa.fa.fa-circle{
  color: #9D9D96;
  font-size: 4em;
}
i#color-brown-fa.fa.fa-circle{
  color: #975A36;
  font-size: 4em;
}
i#color-white-fa.fa.fa-circle-thin{
  font-size: 4em;
}

/* CHECKING DESIGN */
/*for delete left checking*/
.color-circle[type="checkbox"]:not(:checked) + label:before,
.color-circle[type="checkbox"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.color-circle[type="checkbox"]:checked + label:after,
.color-circle[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
.color-circle[type="checkbox"]:checked + label{
  border: 2px solid #ff8b80;
  padding: 0px 3px;
}

/* BRANDS FASHION STYLES DESIGN */
/*for image*/
img.fashion-styles{
  max-width: 90%;
  margin-top: 10px;
}
/*for slect wear it*/
div.form-inline.wear-it{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* PATTERN QUESTION DESIGN */
/*for image*/
img.pattern{
  width: 70%;
}
p.description-img{
  margin: auto;
}
label.pattern-label{
  text-align: center;
}
/* PATTERN CHECKING DESIGN */
/*for delete left checking*/
.pattern-check[type="checkbox"]:not(:checked) + label:before ,
.pattern-check[type="checkbox"]:checked + label:before{
  position: absolute;
  left: -9999px;
}
/* design just for the check label after*/
/* for no checked */
.pattern-check[type="checkbox"]:checked + label:after,
.pattern-check[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
.pattern-check[type="checkbox"]:checked + label{
  border: 2px solid #ff8b80;
  padding: auto;
}

/* SOCIAL QUESTION DESIGN */
/*for  explaining texts*/
p.helper-text{
  margin: 0px;
}
/*for area social links*/
input.form-control.social-link{
  width: 60%;
}
/* OTHER COMMENT DESIGN */
/*for  area comments*/
textarea.form-control.comment-story{
  width: 60%;
  height: 150px;
}


/*===================================
Mobile device
===================================*/
@media screen and (max-width:767px){
/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 100%;
}
/* Put inline select bloc */
select.form-control.inline-select{
  display: inline-block;
}
/* Margin bewteen select bloc in mobile */
select.form-control.select-margin{
  margin-bottom: 20px;
}
/* Margin bewteen select bloc with text in mobile */
select.form-control.select-margin-text{
  margin-bottom: 20px;
}
/* Put checkbox bloc in column in mobile */
div.checkbox-column{
  display: flex;
  flex-direction: column;
}
/* Put checkbox type2 bloc in column in mobile */
div.checkbox-column-large{
  display: flex;
  flex-direction: column;
}
/* Put answers in center in mobile */
div.responsive-center{
  text-align: center;
}

/* SELECT COMPLEX BLOC DESIGN */
div.select-margin-complex{
  display: flex;
  align-items: center;
}
/* BRANDS FASHION STYLES DESIGN */
/*for image*/
img.fashion-styles{
  max-width: 100%;
}
/* COMPLEX SHARING QUESTION DESIGN */
textarea#complex-text.form-control{
  width: 300px;
}
/* SPECIAL OCCASION QUESTION DESIGN */
/*for mobile*/
div.select-margin-complex.special-occasion{
  display: block;
}
label.pattern-label{
  padding: 0px !important;
  margin-bottom: 20px;
}
/* SOCIAL QUESTION DESIGN */
/*for  social links*/
input.form-control.social-link{
  width: 100%;
}
/* OTHER COMMENT DESIGN */
/*for  area comments*/
textarea.form-control.comment-story{
  width: 100%;
  height: 150px;
}


}
/*===================================
Tablet device
===================================*/
@media screen and (min-width:768px) and (max-width:991px) {
/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 90%;
}
/* Put checkbox type2 bloc in column in tablet */
div.checkbox-column-large{
  display: flex;
  flex-direction: column;
}
/* Fashion styles question */
img.fashion-styles{
  max-width: 100%;
}
/* Margin bewteen select bloc with text in mobile */
select.form-control.select-margin-text{
  margin-bottom: 20px;
}

}
/*===================================
Tablet & Desktop devices
===================================*/
@media screen and (min-width:768px){
/* Birth question */
select.form-control.select-birth{
margin-right: 20px;
}

}
