/* CSS FOR THE FORM */
body{
  background: #F7F8F9;
}
/* INTRODUCTION BLOC DESIGN*/
.intro-form{
  width: 80%;
  margin-top: 80px;
  text-align: center;
}
p.big-title{
  font-family: 'Lato',sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #40B8C7;
  text-transform: uppercase;
}
p.intro-description{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}
p.intro-info{
  font-family: 'Lato',sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  margin: 0px;
}
/* INTRO PART QUESTION DESIGN */
p.intro-part{
  font-size: 1.2em;
  font-weight: 300;
  color: #FF8B80;
}
/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 80%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
}
/* QUESTION DESIGN */
.question{
  font-size: 1.2em;
  color: #333333;
  font-weight: 400;
  display: block;
}
legend.question{
  border-bottom:1px solid #b5e4e9;
}
/* OPTIONAL DESCRIPTION DESIGN */
p.optional-description{
  font-size: 0.9em;
  font-weight: 300;
  margin-top: -20px;
  font-style: italic;
  color: #A6A6A6;
}

/* OPTIONAL SEPARATION DESIGN */

/* ANSWER TEXT DESIGN */
label.label-text{
  font-size: 1em;
  font-weight: 400;
}
label.label-undertext{
  font-size: 1em;
  font-weight: 300;
  margin-right: 10px;
}
.span-undertext{
  font-size: 1em;
  font-weight: 300;
}
label.label-undertext-second{
  font-size: 0.9em;
  font-weight: 200;
  color: #777777;
  margin-right: 10px;
}
/* SELECT AUTO DESIGN SIZE */
select.form-control{
  width: auto;
  background-color: rgba(255,255,255,0.6);
}
/* CHECK OR RADIO SEVERAL DESIGN */
.inline-checkbox{
  margin-bottom: 20px;
}
/* SELECT COMPLEX BLOC DESIGN */
div.select-margin-complex{
  margin-bottom: 20px;
}
/* SELECT MARGIN FOR ALL DEVICES */
.select-margin-always{
  margin-bottom: 20px;
  align-items: center;
}
/* CHECKBOX CHECK DESIGN*/
/*To hide first check */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* for the label*/
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 0px 25px 0px 25px;
  cursor: pointer;
}
/* :before for the check box */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #999;
  background: #f8f8f8;
  border-radius: 6px;
}

/* design just for the check */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  border-radius: 6px;
  width: 17px; height: 17px;
  background: #3DB7C6;
  position: absolute;
  top: 2px; left: 0px;
  font-size: 14px;
  transition: all .2s; /* on prévoit une animation */
}
/* for no checked */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

/* RADIO CHECK DESIGN*/
/*To hide first check */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

/* for the label*/
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label{
  position: relative;
  padding: 0px 25px 0px 25px;
  cursor: pointer;
}
/* :before for the check box */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #999;
  background: #f8f8f8;
  border-radius: 6px;
}

/* design just for the check */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  border-radius: 6px;
  width: 17px; height: 17px;
  background: #3DB7C6;
  position: absolute;
  top: 2px; left: 0px;
  font-size: 14px;
  transition: all .2s;
}
/* for no checked */
[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
[type="radio"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}
/* HAIRCOLOR QUESTIONS DESIGN */
img.haircolor{
  border-radius: 100%;
  max-height: 50px;
  margin-bottom: 20px;
  margin-top: 4px;
  margin-left: 0px;
  text-align: left;
}
.hair-left{
  margin-left: -45px;
}
.skin-left{
  margin-left: -32px;
}

/* HAIR CIRCLE CHECKING DESIGN */
/*for delete left checking*/
.circle-haircolor[type="radio"]:not(:checked) + label:before,
.circle-haircolor[type="radio"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.circle-haircolor[type="radio"]:checked + label:after,
.circle-haircolor[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
.circle-haircolor[type="radio"]:checked + label{
  background-image: url("../images/form/checking-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 58px;
  }

/* COLOUR QUESTIONS DESIGN */
/*for color's circles*/
i#black-skin-fa.fa.fa-circle{
  color: #5C4438;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 2px;
}
i#brown-skin-fa.fa.fa-circle{
  color: #975A36;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 2px;
}
i#white-skin-fa.fa.fa-circle{
  color: #E1B892;
  font-size: 3em;
  margin-top: 2px;
}
i#pluswhite-skin-fa.fa.fa-circle{
  color: #FDDBBA;
  font-size: 3em;
  margin-top: 2px;
}

/* CIRCLE CHECKING SKIN DESIGN */
/*for delete left checking*/
.circle-skincolor[type="radio"]:not(:checked) + label:before,
.circle-skincolor[type="radio"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.circle-skincolor[type="radio"]:checked + label:after,
.circle-skincolor[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
.circle-skincolor[type="radio"]:checked + label{
  background-image: url("../images/form/checking-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 46px;
  }

/* SIZES QUESTIONS DESIGN */
label.label-text.sizing{
  border: 1.5px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}
label.label-undertext-second.length-jeans{
  margin-left: 10px;
}

/* SIZES CIRCLE CHECKING DESIGN */
/*for delete left checking*/
.circle-sizes[type="radio"]:not(:checked) + label:before,
.circle-sizes[type="radio"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.circle-sizes[type="radio"]:checked + label:after,
.circle-sizes[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
.circle-sizes[type="radio"]:checked + label{
  border: 1.5px solid #3DB7C6;
  color: white;
  background-color: #3DB7C6;
  }
  /* PICTURES OF ME QUESTION DESIGN */
input.pictures{
  color: #3DB7C6 !important;
  font-family: 'Lato',sans-serif;
  font-weight: 300;
}
input.pictures::placeholder{
  color: red;
}

/* ACCESSORIES PREFERENCES QUESTION DESIGN */
.fa.fa-caret-right.level-two{
  color: ;
}
/* for the margin between under-question*/
div.grey-margin.jewel{
  margin: 20px auto;
}

/* for the allergy*/
textarea#allergy-text.form-control{
  width: auto;
}

/* COLOUR QUESTION DESIGN */
/*for color's circles*/
img.colors{
  width: 50px;
  margin-bottom: 20px;
  margin-top: 4px;
}

/* CHECKING DESIGN */
/*for delete left checking*/
.color-circle[type="checkbox"]:not(:checked) + label:before,
.color-circle[type="checkbox"]:checked + label:before{
  position: absolute;
  left: -9999px;

}
/* design just for the check label after*/
/* for no checked */
.color-circle[type="checkbox"]:checked + label:after,
.color-circle[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
.color-circle[type="checkbox"]:checked + label{
  background-image: url("../images/form/checking-circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60px;
}

/* FASHION STYLES DESIGN */

div.grey-margin.styles{
  margin: 30px auto;
  border-bottom:1px solid #cccccc;
}
/*for image*/
img.fashion-styles{
  max-width: 90%;
  margin-top: 10px;
}
/*for slect wear it*/
div.form-inline.wear-it{
  margin-top: 20px;
  margin-bottom: 10px;
}
/* PATTERN QUESTION DESIGN */
.pattern-line{
  margin-bottom: 30px;
}
/*for image*/
img.pattern{
  border: 2px solid transparent;
}
p.description-img{
  margin: auto;
  text-align: center;
}
label.pattern-label{
  text-align: center;
  padding: 0px !important;
}
label.pattern-label:before{
  margin-bottom: 20px;
}
/* PATTERN CHECKING DESIGN */
/*for delete left checking*/
.pattern-check[type="checkbox"]:not(:checked) + label:before ,
.pattern-check[type="checkbox"]:checked + label:before{
  position: absolute;
  left: -9999px;
}
/* design just for the check label after*/
/* for no checked */
.pattern-check[type="checkbox"]:checked + label:after,
.pattern-check[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* for checked */
.pattern-check[type="checkbox"]:checked + label{
  border: 2px solid #3DB7C6;
  border-radius: 100%;
}

/* SOCIAL QUESTION DESIGN */
/*for  margin bloc*/
label.question.social-bloc{
  margin-top: 10px;
}
/*for  explaining texts*/
p.helper-text{
  margin: 0px;
}
/*for area social links*/
input.form-control.social-link{
  width: 60%;
}
/* OTHER COMMENT DESIGN */
/*for  area comments*/
textarea.form-control.comment-story{
  width: 60%;
  height: 150px;
}


/*===================================
Mobile device
===================================*/
@media screen and (max-width:767px){
/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 100%;
}
p.intro-description{
  width: auto;
}
/* Put inline select bloc */
select.form-control.inline-select{
  display: inline-block;
}
/* Margin bewteen select bloc in mobile */
select.form-control.select-margin{
  margin-bottom: 20px;
}
/* Margin bewteen select bloc with text in mobile */
select.form-control.select-margin-text{
  margin-bottom: 20px;
}
/* Put checkbox bloc in column in mobile */
div.checkbox-column{
  display: flex;
  flex-direction: column;
}
/* Put checkbox type2 bloc in column in mobile */
div.checkbox-column-large{
  display: flex;
  flex-direction: column;
}
/* Put answers in center in mobile */
div.responsive-center{
  text-align: center;
}

/* SELECT COMPLEX BLOC DESIGN */
div.select-margin-complex{
  display: flex;
  align-items: center;
}
/* BRANDS FASHION STYLES DESIGN */
/*for image*/
img.fashion-styles{
  max-width: 100%;
}


/* COMPLEX SHARING QUESTION DESIGN */
textarea#complex-text.form-control{
  width: 300px;
}
/* SPECIAL OCCASION QUESTION DESIGN */
/*for mobile*/
div.select-margin-complex.special-occasion{
  display: block;
}
/* SIZES QUESTIONS DESIGN */
#length-jeans{
  margin-left: -25px;
}
/* SOCIAL QUESTION DESIGN */
/*for  social links*/
input.form-control.social-link{
  width: 100%;
}
/* OTHER COMMENT DESIGN */
/*for  area comments*/
textarea.form-control.comment-story{
  width: 100%;
  height: 150px;
}


}
/*===================================
Tablet device
===================================*/
@media screen and (min-width:768px) and (max-width:991px) {
/* QUESTION BLOC DESIGN*/
fieldset.row.question-block{
  width: 90%;
}
/* Put checkbox type2 bloc in column in tablet */
div.checkbox-column-large{
  display: flex;
  flex-direction: column;
}
/* Fashion styles question */
img.fashion-styles{
  max-width: 100%;
}
/* Margin bewteen select bloc with text in mobile */
select.form-control.select-margin-text{
  margin-bottom: 20px;
}

}
/*===================================
Tablet & Desktop devices
===================================*/
@media screen and (min-width:768px){
/* Birth question */
select.form-control.select-birth{
margin-right: 20px;
}

}
